<h1>Search for GitHub Repos</h1>

<% if notice || alert %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>

<br>
<%= "Searching GitHub repos for: #{@search_keyword.inspect}" %>

<br><br>
<%= "Total Results Found: #{@total_count} items" if @total_count %>

<%= hidden_field_tag :q, @search_keyword %>

<table>
  <th>Repo Name</th>
  <th>Repo Owner</th>
  <th>Language</th>
  <th>Stars</th>
  <th>Watchers</th>
  <th>Forks</th>
  <th>Open Issues</th>
  <th>Private?</th>
  <th>Description</th>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item['full_name'], item['html_url'], target: '_blank' %></td>
      <td><%= link_to item['owner']['login'], "http://github.com/#{item['owner']['login']}", target: '_blank' %></td>
      <td><%= item["language"] %></td>
      <td><%= item["stargazers_count"] %></td>
      <td><%= item["watchers_count"] %></td>
      <td><%= item["forks_count"] %></td>
      <td><%= item["open_issues_count"] %></td>
      <td><%= item["private"] %></td>
      <td><%= item['description'] %></td>
    </tr>
  <% end if @items.present? %>
</table>

<% if @items.blank? %>
  No repos were found
<% end %>

<% if @items.present? %>
  <%= will_paginate @items, :container => false %>
<% end %>
