<h1>Search for GitHub Repos</h1>

<%= render 'shared/notices_and_alerts' %>

<div id='search-form'>
  <%= form_tag('/search', method: 'get') do %>
    <%= label_tag(:q, "Search GitHub for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% unless @error %>
  <% if @search_keyword %>
    <div id='filters-form'>
      <table>
        <tr>
          <td><b><%= "Searching GitHub for:" %></b> <i><b><%= "#{@search_keyword.inspect}" %></b></i></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <% if @items.present? || @search_keyword.present? %>
            <td>
              <%= form_tag('/search', method: 'get') do %>
                <%= label_tag "Filter by Language:" %>
                <%= select_tag :language, options_for_select(@language_filters, @language_filter) %>
                <%= hidden_field_tag :q, @search_keyword %>
                <%= submit_tag("Filter") %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  <% else %>
    <br><br>
  <% end %>

  <%= render partial: 'shared/pagination', locals: { search_options: @search_options, search_keyword: @search_keyword} %>

  <table class="table table-striped">
    <th>Repo Name</th>
    <th>Repo Owner</th>
    <th>Language</th>
    <th><%= build_stars_text_and_url(@search_options) %></th>
    <th>Watchers</th>
    <th>Forks</th>
    <th>Private?</th>
    <th>Description</th>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item['full_name'], item['html_url'], target: '_blank' %></td>
        <td><%= link_to item['owner']['login'], "http://github.com/#{item['owner']['login']}", target: '_blank' %></td>
        <td><%= item["language"] %></td>
        <td><%= item["stargazers_count"] %></td>
        <td><%= item["watchers_count"] %></td>
        <td><%= item["forks_count"] %></td>
        <td><%= (item["private"] ? 'Private' : 'Public') %></td>
        <td><%= item['description'] %></td>
      </tr>
    <% end if @items.present? %>
  </table>

  <% if @items.blank? %>
    <div id='no-content'><h5>No content were found</h5></div>
  <% else %>
    <%= render(partial: 'shared/pagination', locals: { search_options: @search_options, search_keyword: @search_keyword}) if @items.size > 9 %>
  <% end %>
<% end %>
